* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
section {
  height: 100vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
  overflow-y: hidden;
}
#one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../pics/back.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.header-text-box {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  font-weight: 200;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}
.button {
  border: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.6rem 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button1 {
  border-radius: 50px;
  background-color: #1abc9c;
  width: 10rem;
  color: white;
}
.button1:hover {
  background-color: #16a085;
  transform: scale(1.1);
}

.button2 {
  border-radius: 50px;
  width: 10rem;
  color: #1abc9c;
  box-sizing: border-box;
  background-color: transparent;
  border: 0.1rem solid #1abc9c;
}
.button2:hover {
  background-color: #16a085;
  color: white;
  transform: scale(1.1);
  border: 0.1rem solid #16a085;
}
.button2:active {
  background-color: transparent;
}
/* There are 4 types of these pseodo classes in css 
  Link-: Initial state of an element
  hover: When mouse is hovering over the link

*/
nav {
  padding: 1.2rem;
  z-index: 9999;
  background: transparent;
  position: fixed;
  width: 100%;
}

.jqnav {
  background: rgba(45, 45, 45, 0.98);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.01);
  transition: all 1s ease;
}

nav a {
  float: right;
  color: white;
  text-align: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  text-decoration-line: underline;
  text-decoration-color: #16a085;
  color: #16a085;
  transform: scale(1.03);
}
hr {
  color: #1abc9c;
  font-weight: 800;
  width: 8rem;
  margin-left: 45%;
}
.intro {
  padding: 2rem;
  font-family: "Lato", sans-serif;
}
.intro h2 {
  text-align: center;
  padding: 1.2rem;
}
.intro p {
  text-align: center;
  padding: 1.2rem;
  color: grey;
  margin-left: 20%;
  font-size: 1.3rem;
  margin-right: 20%;
}
#article {
  display: flex;
  text-align: center;
  padding: 1.2rem;
  font-family: "Lato", sans-serif;
}
.article-section i {
  padding: 1.2rem;
}
i {
  color: #1abc9c;
}
.article-section {
  padding: 1rem;
}
.article-section p {
  color: grey;
  margin: 2rem;
  text-align: justify;
  font-size: 1.2rem;
}
::selection {
  color: white;
  background: #1abc9c;
}

#steps {
  background: whitesmoke;
}

.steps-parent {
  display: flex;
}

.steps-img {
  width: 50%;
}
.steps-list {
  margin-right: 20rem;
}
.steps-iphone {
  padding-left: 20%;
  margin-top: 3%;
}

.steps-how-to {
  margin-top: 7%;
  font-size: 120%;
}
.steps-list div {
  margin-right: 5%;
  font-size: 120%;
  color: #2ecc71;
  border: 1px solid #2ecc71;
  text-align: center;
  border-radius: 50%;
  padding-top: 0.8rem;
  height: 55px;
  width: 55px;
  float: left;
}
.steps-list p {
  padding-bottom: 12%;
}
#table {
  display: flex;
  padding: 2rem;
  font-family: "Lato", sans-serif;
}
.table-section {
  padding: 2rem;
  text-align: left;
}
.table-section p {
  margin-left: 0.3rem;
  font-size: 1.2rem;
}
.app-img {
  height: 4rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 0.6rem;
}
.info-wrapper {
  float: left;
  padding: 0.4rem;
  color: grey;
}
.info-wrapper a {
  float: right;
  color: #16a085;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.info-wrapper i {
  margin-right: 0.4rem;
}
.info-wrapper a:hover {
  text-decoration-line: underline;
  text-decoration-color: #16a085;
  color: #16a085;
  transform: scale(1.02);
}

#reviews {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../pics/review-back.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
}

#reviews .intro {
  color: white;
}
.profile {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.reviewer {
  margin-top: 1rem;
  display: flex;
}

.apost {
  font-size: 30px;
  padding-bottom: 1.5rem;
}
.review {
  font-family: "Shadows Into Light", cursive;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  text-align: left;
}
.reviewer p {
  padding: 1rem;
}
#register {
  background: whitesmoke;
  font-family: "Lato", sans-serif;
}
.register-parent {
  display: flex;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 5%;
}
.register-child {
  margin-left: 5rem;
  padding: 1.2rem;
  width: 45%;
  height: 80%;
  border: 1px solid white;
  background: white;
  border-radius: 10%;
}

.heading p {
  font-size: 0.7rem;
  color: grey;
}

.heading p#type {
  color: rgba(0, 0, 0, 0.726);
  font-size: 1.2rem;
}
.heading span:before {
  content: attr(data-text);
  color: red;
  width: 15px;
  height: 15px;
}

.register-child hr {
  margin-left: 0%;
  margin-top: 4%;
  color: #fdfdfd;
  width: 100%;
}

.price {
  display: flex;
  color: #16a085;
}
.num {
  font-size: 3rem;
}
.price p {
  margin-top: 2rem;
  margin-right: 0.6rem;
  color: #16a085;
}
.register-body {
  padding-top: 1.2rem;
  overflow: auto;
  padding-bottom: 1.2rem;
}
.register-child .button2 {
  padding: 0.5rem;
  margin-left: 2.4rem;
}
.register-child .button1 {
  padding: 0.5rem;
  margin-left: 2.4rem;
}
.register-body .info-wrapper {
  padding: 0.6rem;
}
.row {
  display: flex;
  padding: 1.6rem;
}
.row p {
  font-size: 1.6rem;
  margin-left: 20%;
  padding: 0.6rem;
  /* margin-right: 20rem; */
}
.form-wrapper {
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
input {
  margin-left: 20%;
  border: 2px solid #1abc9c;
  width: 40%;
  font-size: 1.2rem;
}
input[type="checkbox"] {
  width: 1rem;
  margin-left: 16%;
  padding: 20%;
  margin-right: 2%;
}
select {
  margin-left: 2%;
  border: 2px solid #1abc9c;
  width: 40%;
  font-size: 1.2rem;
}
.row span {
  margin-top: 1%;
}
textarea {
  border: 2px solid #1abc9c;
  margin-left: 14%;
  font-size: 1rem;
}
.form-wrapper .button1 {
  margin-left: 45%;
  margin-top: -1.4rem;
}
